.review__carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  padding: 1em;
}

.review__button {
  position: absolute;
  top: 50%;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  z-index: 10;
  font-family: var(--font-basic);
  font-size: 1.5em;
  font-weight: 700;
}

.review__button_prev {
  left: 0;
  margin-right: -25px;
}

.review__button_next {
  right: 0;
}
