.service__card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-accent-soft);
  align-items: center;
  padding: 2em;
  margin: 1.5em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.service__content {
  margin-top: 20px;
  text-align: center;
}

.service__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-accent);
  margin-bottom: 10px;
}

.service__text {
  font-size: 1rem;
  font-family: var(--font-basic);
  color: var(--clr-terciary);
  line-height: 1.5em;
  padding: 0.5em 0;
}
