.reviews__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  background-color: var(--clr-accent-soft);
}
.reviews__container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.reviews__title {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--font-accent);
  margin: 1em 0;
  text-align: center;
  color: var(--clr-terciary);
}

.reviews__source {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: var(--font-accent);
  margin: 3em 0 1em;
  text-align: center;
  color: var(--clr-terciary);
}

.reviews__source__link {
  color: var(--clr-accent);
  text-decoration: none;
  transition: all 0.3s ease;
}
