.whatsapp {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}

@media (min-width: 600px) {
  .whatsapp {
    display: none;
  }
}

.icon {
  width: 40px;
  height: 40px;
}
