@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Urbanist:wght@400;700&display=swap");

:root {
  --clr-primary: #6f737f;
  --clr-secondary: #3b4050;
  --clr-terciary: #2e323f;
  --clr-accent: hsl(40, 20%, 50%);
  --clr-accent-soft: hsl(40, 20%, 90%);
  --clr-white: #ffffff;
  --clr-black: #000000;

  --font-basic: "Figtree", sans-serif;
  --font-accent: "Urbanist", sans-serif;

  /* Azul profundo: #00467f
Verde fresco: #72a844
Blanco limpio: #ffffff
Color de acento: Naranja terroso: #f7941e */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-basic);
  font-size: 21px;
}

img {
  max-width: 100%;
  height: auto;
}

/* header {
  background-color: var(--clr-terciary);
  text-align: center;
  padding: 0.4em 0;
}

footer {
  background-color: var(--clr-secondary);
  padding: 2em 0;
} */

ul {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  /* color: ; */
}
