.header {
  background-color: var(--clr-terciary);
  color: var(--clr-white);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.5em 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
}

.heading {
  font-family: var(--font-basic);
  font-weight: 700;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}

.nav_menu {
  all: unset;
  color: var(--clr-white);
  background-color: var(--clr-terciary);
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  padding: 1rem;
}

.nav_menu:focus,
.nav_menu:hover {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 900px) {
  .nav_menu {
    display: none;
  }
}
