.hero__section {
  display: flex;
  height: calc(100vh - 64px);
  justify-content: center;
  background-color: var(--clr-secondary);
  margin: 0;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.hero__content {
  color: var(--clr-white);
  margin: 0 auto 2em;
}

.hero__title {
  font-family: var(--font-accent);
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-white);
  line-height: 1.1;
  padding: 0 0 0.5em;
}

.hero__text {
  font-size: 1.5rem;
  color: var(--clr-ascent-soft);
  padding: 0.5em 0;
}

.hero__button {
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 1em;
  border-radius: 100px;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--font-accent);
  font-weight: 700;
}

.hero__button:focus,
.hero__button:hover {
  opacity: 0.75;
}

.hero__image {
  margin: 0 auto;
  border-radius: 20px;
}
