.review__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 2.5em;
  padding: 1em;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-secondary);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review__image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.review__name {
  font-size: 1.625rem;
  font-weight: 700;
  font-family: var(--font-accent);
  margin-bottom: 0.75em;
  color: var(--clr-white);
}

.review__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.review__text {
  font-size: 1rem;
  font-family: var(--font-basic);
  text-align: center;
  color: var(--clr-accent-soft);
  line-height: 1.5em;
  padding: 0.5em 1em;
}
